html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-size: 750px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

/* Logo Kabupaten */
.kabupaten {
  width: 36%;
  max-width: 200px;
  height: 100px;
  transition: all 0.3s ease;
}

/* Header Atas */
.atas {
  display: flex;
  height: 8em;
  background-image: url('../img/bgnrt1.png');
  justify-content: left;
  align-items: center;
  transition: all 0.3s ease;
  background-position: right;
}

.lambang {
  margin-top: 1em;
  padding-bottom: 1em;
  transition: all 0.3s ease;
}

.ukuran-huruf {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: left;
  transition: all 0.3s ease;
}

.ngleses {
  margin-left: 0;
  text-align: left;
}

.atas.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 20px;
  background-color: #2E7D32;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  height: 4em;
}

/* Mengubah ukuran logo dan teks saat scroll */
.atas.scrolled .kabupaten {
  width: 80px;
  height: auto;
}

.atas.scrolled .ukuran-huruf {
  font-size: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E7D32;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather', serif;
  transition: all 0.3s ease;
}

.navbar1 {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #2E7D32;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather', serif;
  transition: all 0.3s ease;
}

.navlink {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.navlink li {
  margin: 0 20px;
}

.navlink a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  transition: color 0.3s ease;
}

.navlink a:hover {
  color: #333;
}


/* Dropdown menu */
.dropbtn {
  border: none;
  padding: 10px 30px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.dropbtn1 {
  border: none;
  padding: 10px 30px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.dropdown {
  position: sticky;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  list-style: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: normal;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #333;
  transition: color 0.3s ease;
}

.dropdown1 {
  position: sticky;
  display: block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  list-style: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown1-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: normal;
  padding: 10px 15px;
}

.dropdown1-content a:hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}

.dropdown1:hover .dropbtn {
  color: #333;
  transition: color 0.3s ease;
}


/* responsive */

.res3 {
  display: none;
}

@media (max-width: 700px) {
  .navbar1 {
    display: flex;
  }
  .dropdown {
    display: none;
  }
}

@media (max-width: 600px) {
  .res2 {
    display: none;
  }
  .res3 {
    display: flex;
  }
}

/* Slideshow */
.slideshow-background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 25px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.prev-button:hover,
.next-button:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}


/* Footer */
.footer {
  background-color: #2E7D32;
  color: white;
  padding: 20px 10px;
}

.footer-container {
  display: flex;
  width: 100%;
  height: 36%;
  position: relative;
}

.bawah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kabupaten {
  width: 100px;
  height: auto;
  transition: all 0.3s ease;
  justify-content: flex-end;
}

.logobawah .nglesesfooter {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.footer-info{
 display: flex;
 position: relative;
}

.footer-info1 {
  display: flex;
  position: relative;
 }

.footer-info h5{
  margin-left: 25%;
  margin-top: 4%;
 }
 .footer-atas{
  font-size: 17px;
 }

 .social-icon {
  text-decoration: none;
  margin-right: 15px;
  font-size: 24px;
  color: #FFFFFF; /* Ganti dengan warna yang diinginkan */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #239529; /* Warna saat ikon di-hover */
}

/* responsive */
.footer-content5 {
  display: none;
}

.footer-content6 {
  display: none;
  margin-left: 20%;
}

.footer-container1 {
  display: none;
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}

.footer-container2 {
  display: none;
  width: 100%;
  height: 100px;
  position: relative;
  justify-content: center;
}

@media (max-width: 1200px) {
  .footer-content1 {
    display: none;
  }

  .footer-container1 {
    display: flex;
  }

  .footer-content5 {
    display: block;
  }

  .footer-container {
    height: 110px;
  }
}

@media (max-width: 900px) {
  .footer-content6 {
    display: block;
  }

  .footer-content2 {
    display: none;
  }
}

@media (max-width: 580px) {
  .footer-content3 {
    display: none;
  }

  .footer-container2 {
    display: flex;
    justify-content: center ;
  }

  .footer-container1 {
    margin-bottom: 0px;
  }
}

/* Background Slide */

.slideshow-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: -1;
}

.bgslide {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* background-image: url(../img/bgwarna2.png); */
  background-position: center center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.bgslide1 {
  position: relative;
  width: 100%;
  height: 25%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* background-image: url(../img/bgwarna2.png); */
  background-position: center center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}


/* Profil */
.container2 {
  background-image: url('img/bgwarna2.png');
  place-items: center;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-content: center;
  position: relative;
}

.konten1 {
  width: 250px;
  max-width: 249px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: block;
  align-items: center; /* Menjaga konten sejajar secara vertikal */
  justify-content: center;
  padding: 20px; /* Menambahkan jarak internal */
  /* gap: 10px; */
  text-align: center  ;
  margin: 20px;
}

.konten1 img {
  width: 90%;
  height: 80%;
}

.konten2 {
  width: 250px;
  max-width: 249px;
  height: width;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: block;
  align-items: center; /* Menjaga konten sejajar secara vertikal */
  justify-content: center;
  padding: 20px; /* Menambahkan jarak internal */
  /* gap: 10px; */
  text-align: center  ;
  margin: 20px;
}

.konten2 img {
  width: 90%;
  height: 80%;
}

.konten3 {
  width: 250px;
  max-width: 249px;
  height: width;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: block;
  align-items: center; /* Menjaga konten sejajar secara vertikal */
  justify-content: center;
  padding: 20px; /* Menambahkan jarak internal */
  /* gap: 10px; */
  text-align: center  ;
  margin: 20px;
}

.konten3 img {
  width: 90%;
  height: 80%;
}

/* responsive */

@media (max-width: 1050px) {
  .konten2 {
    display: none;
  }

  .bgslide1 {
    display: flex;
  }
}


.copyright{
  text-align: center;
  font-size: smaller;
}

.maincontent {
  width: 100%;
  height: auto;
  background-image: url('../img/bgwarna1.png');
}

.debug {
  width: 100%;
  height: 200px;
}